body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

body header:first-of-type {
    background: #35424a;
    color:#ffffff;
    padding: 30px 0px 27px 0px;
    border-bottom: #e8491d 3px solid;
    
}

#button_1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 90%;
}

#button_1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

#button_1:hover {
    background-color: #4CAF50;
    color: white;
}

.highlight{
    color: #e8491d;
}

.w80p {
    width: 80%;
    min-width: 500px;
    margin: auto;
    overflow: hidden;
}

footer {
    padding: 20px 0px;
    margin: 50px 0px 0px 0x;
    background-color: black;
    color: #ffffff;
    text-align: center;
}

#logo{
    background: url('../img/logo.jpg') no-repeat 0 -1050px;
    text-align: center;
    color: #ffffff;
}

#search {
    padding: 15px 0px;
    color: #ffffff;
    background: #35424a;
    display: flex;
}

#search div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#search form>*{
    height: 25px;
}

#search input[type="text"]{
    width: 250px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media(max-width:768px){
    .w80p {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
}

