body{

    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;

}


/* Global */
.container{

    width: 80%;
    margin: auto;
    overflow: hidden;

}

.button_1{
    height: 40px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    margin: 0;
}

.highlight{
    color: #e8491d;
}

/* Header */
header{
    background:#35424a;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;

}
header a{
    color: #e8491d;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
}

header #title {
    float:left;
}

header #title h1{
    margin:0;
}

header nav{
    float: right;
    margin-top: 10px;
}



/* Logo */
#logo{
    min-height: 400px;
    background: url('../img/logo.jpg') no-repeat 0 -1050px;
    text-align: center;
    color: #ffffff;
}

#logo h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#logo p{
    font-size: 20px;
    color: #35424a;
    font-weight: bold;
}

/* logo allergy-page */

#logo-allergy{
    min-height: 100px;
    background: url('../img/logo.jpg') no-repeat 0 -1050px;
    text-align: center;
    color: #ffffff;
}

#logo-allergy h1{
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 30px;
}

/* search */
#search {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#search h1 {
    float: left;
}

#search form {
    float: right;
    margin-top: 15px;
}

#search input[type="text"]{
    padding: 5px;
    height: 25px;
    width: 250px;
}

/* search allergy-page */

#search-allergy {
    padding: 2px;
    color: #ffffff;
    background: #35424a;
}

#search-allergy h3 {
    float: left;
}

#search-allergy form {
    float: right;
    margin-top: 12px;
}

#search-allergy input[type="text"]{
    padding: 5px;
    height: 20px;
    width: 250px;
}

/* new */
#news {
    margin-top: 20px;
}
#news a{
    font-style: italic;
    color: #35424a;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
#news .box{
    background: #d3d3d3;
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* info-allergy */

#allergy-title{
    font-size:30px;
    margin-top:20px;
    margin-left:8px;
    margin-bottom: 12px;
    text-align: center;
}

#title-description{
    
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 20px;
    
}

#reports {
    color: #ff8000;
    float: right;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
#info {
    margin-top: 20px;
}
#info-title {
    color: #35424a;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}
#info .box{
    background: #d9d9d9;
    float: left;
    width: 97%;
    padding: 10px;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
   
}

#info p{
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 30px;
}

/* footer */
footer{
    padding: 20px;
    margin-top: 50px;
    background-color: black;
    color: #ffffff;
    text-align: center;
}

@media(max-width:768px){
    header nav,
    header nav ul li a, 
    #search h1, 
    #search form, 
    #news .box,
    #info .box,
    #search-allergy h1,
    #search-allergy form{
        float:none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 10px;
    }

    #logo h1{
        margin: 40px;
    }
    #search button{
        display: block;
        width: 100%
    }
    #search form input[type="text"]{
        width: 100%;
        margin-bottom: 5px;
    }
    #search-allergy button{
        display: block;
        width: 100%
    }
    #search-allergy form input[type="text"]{
        width: 100%;
        margin-bottom: 5px;
    }
    #reports{
        float: none;
        display: inline-block;
        margin-left: 10px;

    }
    


}