<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SEAL | Allergy</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/allergy.css">
</head>

<body>
    <section id="logo">
            <h1 class="w80p">Allergy Details</h1>
    </section>
    <section id="search">
        <div class="w80p">
            <h1 >New symptoms? Want to know more about an allergy?</h1>
            <form action="#results">
                <input type="text" placeholder="Search...">
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
    <section id="info" class="w80p">
        <div id="headerBox"></div>
        <div id="infoBox">
            <div class="boxLeft"></div>
            <div class="boxRight">
                <div>
                    <h2>Place The Chart Here</h2>
                </div>
            </div>
        </div>
    </section>
</body>

</html>