<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SEAL | Allergy</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/allergy.css">
</head>

<body>
    <section id="logo">
            <h1 class="w80p">Allergy 1</h1>
    </section>
    <section id="search">
        <div class="w80p">
            <h1 >New symptoms? Want to know more about an allergy?</h1>
            <form>
                <input type="text" placeholder="Search...">
                <button type="submit" class="button_1">Submit</button>
            </form>
        </div>
    </section>
    <section id="info" class="w80p">
        <div id="headerBox">
            <h2 class="boxLeft"><span class="highlight">Allergy 1</span></h2>
            <h2 class="boxRight">Statistics</h2>
        </div>
        <div id="infoBox">
            <div class="boxLeft">
                <div>
                    <h3>What is Allergy 1?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed, posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel mi dignissim laoreet.</p>
                </div>
                <div>
                    <h3>Which are the symptoms?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed, posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel mi dignissim laoreet.</p>
                </div>
                <div>
                    <h3>How to prevent.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed, posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel mi dignissim laoreet.</p>
                </div>
                <div>
                    <h3>Treatment & Care.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed, posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel mi dignissim laoreet.</p>
                </div>
                <div>
                    <h3>Medication.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sem orci, rhoncus sed tortor sed, posuere bibendum nisl. Etiam quis libero ac orci vulputate eleifend et at turpis. Donec at enim vel mi dignissim laoreet.</p>
                </div>
            </div>
            <div class="boxRight">
                <div>
                    <h2>Place The Chart Here</h2>
                </div>
            </div>
        </div>
    </section>
</body>

</html>