<!DOCTYPE html>
<html lang="en" property="http://scholarly-html.org/schtml">

<head>
    <meta charset="UTF-8">
    <title>SEAL | User guide</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/guide.css">
</head>

<body>
    <article class="w80p">
        <h1>User guide</h1>
        <div>
            <h2>Introduction</h2>
            <p>This is a technical document intended to give an overview on how our application is to be used, and the
                features it has.</p>
        </div>
        <section>
            <h2>Notification WorkFlow</h2>
            <p>Once we accessed the app, a notification alert will appear on the top of the screen where we are asked
                if we allowed to receive
                notifications directly in the browser.</p>
            <figure typeof="sa:image">
                <img src="./img/BeforeNotification.PNG" alt="">
                <figcaption> <i>Fig. 1:</i></figcaption>
                <img src="./img/NotificationAlert.PNG" alt="">
                <figcaption> <i>Fig. 2:</i></figcaption>
            </figure>
            <p>If we choose to allow notifications, a pop-up will show up where we check which types of notifications
                we want to subscribe then
                save the options by clicking the save button.</p>
            <figure typeof="sa:image">
                <img src="./img/NotifPopup2.png" alt="">
                <figcaption> <i>Fig. 3:</i></figcaption>
            </figure>
            <p>After saving the settings, we will return to the main page where the last 6 allergies will appear.</p>
            <figure typeof="sa:image">
                <img src="./img/MainPage.png" alt="">
                <figcaption> <i>Fig. 4:</i></figcaption>
            </figure>
            <p>If there is a new post about the type of allery se subscribe on, we will receive a notification in the browser.</p>
            <figure typeof="sa:image">
                <img src="./img/NewNotif.png" alt="">
                <figcaption> <i>Fig. 5:</i></figcaption>
            </figure>

        </section>
        <section>
            <h2>Navigating Allergies WorkFlow</h2>
            <p>If we want to find quickly a specific allergy, we can use the search field by typeing keywords.</p>
            <figure typeof="sa:image">
                <img src="./img/Search.png" alt="">
                <figcaption> <i>Fig. 6:</i></figcaption>
            </figure>
            <p>Once we accessed an allergy, we will be redirect to the allergy page wher relative informations will
                show up like: short description,
                symptoms, prevention methods, treatment and medication. Also a graphical representation of the number
                of people affected over the
                ourse of 3 years. </p>
            <figure typeof="sa:image">
                <img src="./img/.png" alt="">
                <figcaption> <i>Fig. 7:</i></figcaption>
            </figure>
            <p>We can share this information with our group of friends by pressing the share on facebook button.</p>
            <figure typeof="sa:image">
                <img src="./img/Share.png" alt="">
                <figcaption> <i>Fig. 8:</i></figcaption>
            </figure>
            <p>We are able to select if we want to share this allergy infos only with a friend or a certain group or with all of our friends on 
                social network.</p>
            <figure typeof="sa:image">
                    <img src="./img/ShareOn.png" alt="">
                    <figcaption> <i>Fig. 9:</i></figcaption>
                <img src="./img/GrupPrieteni.png" alt="">
                <figcaption> <i>Fig. 10:</i></figcaption>
            </figure>
        </section>
        <section>
            <h2>Video Demo</h2>
            <video typeof="sa:video" width="80%" controls>
                <source src="./mp4/.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <p></p>
        </section>
    </article>
</body>

</html>