<!DOCTYPE html>
<html lang="en" property="http://scholarly-html.org/schtml">

<head>
    <meta charset="UTF-8">
    <title>SEAL | User guide</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/report.css">
</head>

<body>
    <article class="w80p">
        <h1>User guide</h1>
        <div>
            <h2>Introduction</h2>
            <p>This is a technical document intended to give an overview on how our application is to be used, and the features it has.</p>
        </div>
        <section>
            <h2>Notification WorkFlow</h2>
            <p></p>
            <figure typeof="sa:image">
                <img src="./img/.png" alt="">
                <figcaption> <i>Fig. 1:</i></figcaption>
            </figure>
            <p></p>
            <figure typeof="sa:image">
                <img src="./img/.png" alt="">
                <figcaption> <i>Fig. 2:</i></figcaption>
            </figure>
            <p></p>
            <figure typeof="sa:image">
                <img src="./img/.png" alt="">
                <figcaption> <i>Fig. 3:</i></figcaption>
            </figure>
            <p></p>
            <figure typeof="sa:image">
                <img src="./img/.png" alt="">
                <figcaption> <i>Fig. 4:</i></figcaption>
            </figure>
        </section>
        <section>
            <h2>Navigating Allergies WorkFlow</h2>
            <p></p>
            <figure typeof="sa:image">
                <img src="./img/.png" alt="">
                <figcaption> <i>Fig. 5:</i></figcaption>
            </figure>
            <p></p>
            <figure typeof="sa:image">
                <img src="./img/.png" alt="">
                <figcaption> <i>Fig. 6:</i></figcaption>
            </figure>
            <p></p>
            <figure typeof="sa:image">
                <img src="./img/.png" alt="">
                <figcaption> <i>Fig. 7:</i></figcaption>
            </figure>
            <p></p>
            <figure typeof="sa:image">
                <img src="./img/.png" alt="">
                <figcaption> <i>Fig. 8:</i></figcaption>
            </figure>
        </section>
        <section>
            <h2>Video Demo</h2>
            <video typeof="sa:video" width="80%" controls>
              <source src="./mp4/.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
            <p></p>
        </section>
    </article>
</body>

</html>