<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SEAL</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/main.css">
    
</head>

<body>
    <section id="logo">
        <h1 class="w80p">Allergies</h1>
        <p class="w80p">Have you ever felt like you or someone you know is constantly coughing and sneezing? When a cough isn’t just a cough, it could be allergies.</p>
    </section>
    <section id="search">
        <div class="w80p">
            <h1 >New symptoms? Want to know more about an allergy?</h1>
            <form id="searchform">
                <input type="text" placeholder="Search...">
                <input type="submit" value="Submit" onclick="redirectToSearch()">
            </form>
        </div>
    </section>
    <section id="news" class="w80p">
        <h1><span class="highlight">News</span> about allergies</h1>
        <div id="newsBox"></div>
    </section>
</body>

</html>