<!DOCTYPE html>
<html lang="en" property="http://scholarly-html.org/schtml">

<head>
    <meta charset="UTF-8">
    <title>SEAL | Report</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/report.css">
</head>

<body>
    <article class="w80p">
        <h1>Project Report</h1>
        <div typeof="sa:AuthorsList" property="schema:ItemList">
            <h2>Authors</h2>
            <ul>
                <li typeof="sa:Author">
                    <span typeof="schema:Person" resource="https://www.facebook.com/beatricediana.matoianu">
                        <meta property="schema:givenName" content="Beatrice">
                        <meta property="schema:additionalName" content="Diana">
                        <meta property="schema:familyName" content="Matoianu">
                        <meta property="schema:gender" content="Female">
                        <span property="schema:name">Beatrice Diana Matoianu</span>
                    </span>
                </li>
                <li typeof="sa:Author">
                    <span typeof="schema:Person" resource="https://www.facebook.com/radu.ionut.904">
                        <meta property="schema:givenName" content="Ionut">
                        <meta property="schema:familyName" content="Radu">
                        <meta property="schema:gender" content="Male">
                        <span property="schema:name">Ionut Radu</span>
                    </span>
                </li>
                <li typeof="sa:Author">
                    <span typeof="schema:Person" resource="https://www.facebook.com/valentin.sarghi">
                        <meta property="schema:givenName" content="Valentin">
                        <meta property="schema:familyName" content="Sarghi">
                        <meta property="schema:gender" content="Male">
                        <span property="schema:name">Valentin Sarghi</span>
                    </span>
                </li>
            </ul>
        </div>
        <section>
            <h2>Report <span class="highlight">P</span></h2>
            <section>
                <h3>General Design Concepts</h3>
                <p>The page design can have a significant impact on the success of our communication, on it's usability
                    and persuasiveness.</p>
                <p>That is why we will try to focus on reader-centered pages, facilitating the understanding of
                    information & the ability to find it with ease.</p>
            </section>
            <section>
                <h3>User Interaction</h3>
                <p>While using our application, the user will have the following features available:</p>
                <ul>
                    <li>Accept & Receive Notifications</li>
                    <li>Search for allergies</li>
                    <li>See details & stats for a specific allergy</li>
                </ul>

                <p>Below is the interaction diagram:</p>
                <figure typeof="sa:image">
                    <img src="./img/report%20-%20UI%20Diagram.png" alt="User Interaction Diagram">
                    <figcaption> <i>Fig. 1:</i> User Interaction Diagram</figcaption>
                </figure>
            </section>
            <section>
                <h3>Management</h3>
                <section>
                    <h4>Source Code</h4>
                    <p>The tool we chose to use for code hosting is
                        <span typeof="schema:WebSite">
                            <span property="schema:name">Github</span>
                            <meta property="schema:url" content="https://github.com/">
                        </span>
                        .
                    </p>
                    <p>We have created a public repository at:
                        <span typeof="schema:SoftwareSourceCode">
                            <span property="schema:name"><a href="https://github.com/vali-snow/SEAL2018">SEAL2018</a></span>
                            <meta property="schema:codeRepository" content="https://github.com/vali-snow/SEAL2018">
                        </span>
                    </p>
                    <p>And we will be using the <a href="https://guides.github.com/activities/hello-world/">suggested</a>
                        workflow for our features:</p>
                    <ol>
                        <li>Creating a new branch for the feature.</li>
                        <li>Making as many commits as necessary.</li>
                        <li>Merging the new branch into the main one.</li>
                    </ol>
                </section>
                <section>
                    <h4>Team Coordination</h4>
                    <p>We have decided to use
                        <span typeof="schema:WebSite">
                            <span property="schema:name">Trello</span>
                            <meta property="schema:url" content="https://trello.com/">
                        </span>
                        for our Project Tracking Software.
                    </p>
                    <p>We have created a different board for each stage of the project.</p>
                    <p>Our workflow aim is to be agile (with a twist), thus our boards we have the following layout:</p>
                    <ul>
                        <li>Guidelines</li>
                        <li>Backlog</li>
                        <li>To Do</li>
                        <li>Doing</li>
                        <li>Done</li>
                    </ul>
                    <p>Finally, as a communicating hub for our team, we chose
                        <span typeof="schema:WebSite">
                            <span property="schema:name">Slack</span>
                            <meta property="schema:url" content="https://slack.com/">
                        </span>
                        .
                    </p>
                    <p>We improved it by integrating Trello & Github into it.</p>
                </section>
            </section>
        </section>
        <section>
            <h2>Report <span class="highlight">A</span></h2>
            <p>So close, yet so far away ...</p>
        </section>
        <section>
            <h2>Report <span class="highlight">S</span></h2>
            <p>So close, yet so far away ...</p>
        </section>
    </article>
</body>

</html>